

/**
* for error class
 */
.cssErrorClass{
  border-color:red;
}
.form-outline{
    margin: 10px;
    margin-left: 30px;

}
.form-outline input{
    border : 1px solid white;
}

#friendDataForm {
    margin-top: 75px;
}
/* .inputDiv{
    margin-top: 25px;;
} */
.inputDiv div{
    color: red;
    font-size:14px;
    margin-bottom: 15px;;
}